<div class="container-fluid">
    <div id="home" class="row align-items-center hero">
        <div class="col-lg-3 offset-lg-2">
            <p>bajada</p>
            <h1>Titulo Principal</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum aspernatur excepturi debitis,
                rem optio praesentium nam voluptas ea facere aut nulla enim, quisquam aliquid saepe aperiam, unde
                quo voluptate maiores?</p>
        </div>

    </div>

</div>
<div class="row align-items py-4 offset-lg-2">
    <div id="novedades" class="col-md-5">
        <h2>Novedades</h2>
        <ul class="lista-novedades">
            <li><a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"><img
                        src="images/novedades01.jpg">Nuevas
                    recetas 1</a></li>
            <li><a href="#"><img src="images/novedades01.jpg">Nuevas recetas 2</a></li>
            <li><a href="#"><img src="images/novedades01.jpg">Nuevas recetas 3</a></li>
            <li><a href="#"><img src="images/novedades01.jpg">Nuevas recetas 4</a></li>
            <li><a href="#"><img src="images/novedades01.jpg">Nuevas recetas 5</a></li>
        </ul>
    </div>
    <div class="col-md-5 testimonios">
        <h2 class="testimonio">Testimonios</h2>
        <div id="carouselExampleControlsNoTouching" class="carousel slide" data-bs-touch="false">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="testimonio">
                        <h5>La Mejor Birra!!</h5>
                        <p>Cristian Enrique</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="testimonio">
                        <h5>Nunca Probe algo igual!</h5>
                        <p>Ricardo Flores</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <DIV class="testimonio">
                        <h5>Riquisima mmmm</h5>
                        <p>Nestor farias</p>
                    </DIV>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsNoTouching"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsNoTouching"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Nueva receta 1</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Ejemplo de la BD</p>
            </div>
        </div>
    </div>
</div>
</div>
<div id="historia" class="row align-items-center py-4">
    <div class="col-lg-2 col-md-3 offset-lg-2 d-none d-sm-block">
        <img src="images/historia_1.jpg" alt="historia 1" class="img-fluid">
    </div>
    <div class="col-lg-2 col-md-3 d-none d-sm-block">
        <img src="images/historia_2.jpg" alt="historia 2" class="img-fluid">
    </div>
    <div class="col-12 d-sm-none">
        <img src="images/historia_3.jpg" alt="historia 3" class="img-fluid">
    </div>
    <div class="col-lg-4 col-md-6 mt-4 mt-sm-0">
        <h2>historia</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea aut nisi amet sed dolores
            repudiandae, dolore voluptate neque consequatur, quisquam laboriosam quam facere error iste
            voluptas quia? Voluptate, ab reiciendis.</p>
    </div>
</div>
<div id="nosotros" class="row align-items-stretch my-3 staff py-4">
    <div class="col-lg-8 offset-lg-2">
        <h2>Nosotros</h2>
        <div class="row row-cols-1 row-cols-4 g-4">
            <div class="col">
                <div class="card">
                    <img src="images/nosotros01.jpg" class="card-img-top" alt="Diana Reyes">
                    <div class="card-body">
                        <h5 class="card-title">Diana Reyes</h5>
                        <p class="Card-text">Adicional texto</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="images/nosotros02.jpg" class="card-img-top" alt="Federico Morales">
                    <div class="card-body">
                        <h5 class="card-title">Federico Morales</h5>
                        <p class="Card-text">Adicional texto</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="images/nosotros03.jpg" class="card-img-top" alt="Lucas Ocampo">
                    <div class="card-body">
                        <h5 class="card-title">Lucas Ocampo</h5>
                        <p class="Card-text">Adicional texto</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="images/nosotros04.jpg" class="card-img-top" alt="Thiago Arellano">
                    <div class="card-body">
                        <h5 class="card-title">Thiago Arellano</h5>
                        <p class="Card-text">Adicional texto</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div id="conocenos" class="row py-4">
    <div class="col-md-4 offset-md-2">
        <h2>Visitanos</h2>
        <div class="mapa">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3285.3948143343264!2d-58.45553228494877!3d-34.56887528046855!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb5da9755277d%3A0x32b080da97cdab88!2sVirrey%20Olaguer%20y%20Feli%C3%BA%202674%2C%20C1426%20CABA!5e0!3m2!1ses-419!2sar!4v1679883229055!5m2!1ses-419!2sar"></iframe>
        </div>
    </div>
    <div class="col-md-4">
        <h2>Conocenos</h2>
        <form for="exampleFormControlInput1" class="form-label" action="/" method="post">
            <div class="row g-3">
                <div class="col">
                    <input type="text" class="form-control" placeholder="Nombre" aria-label="First name" id="nombre"
                        name="nombre">
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="Apellido" aria-label="Last name" id="apellido"
                        name="apellido">
                </div>
            </div> <br>
            <div class="row g-3">
                <div class="col-md-6">
                    <label for="inputEmail4" class="form-label">Email</label>
                    <input type="email" class="form-control" id="inputEmail4" placeholder="ejemplo@mail.com"
                        name="email">
                </div>
                <div class="col-md-6">
                    <label for="inputPassword4" class="form-label">Numero de telefono</label>
                    <input type="texto" class="form-control" id="telefono" name="telefono">
                </div>
                <div class="col-12">
                    <label for="inputAddress" class="form-label">Domicilio</label>
                    <input type="text" class="form-control" id="domicilio" placeholder="Avenida Libertador 1578"
                        name="domicilio">
                </div>
                <div class="col-md-6">
                    <label for="inputCity" class="form-label">Ciudad</label>
                    <input type="text" class="form-control" id="ciudad" name="ciudad">
                </div>
                <div class="col-md-4">
                    <label for="inputState" class="form-label">Pais</label>
                    <select id="inputState" class="form-select" name="inputState">
                        <option selected>Elegir...</option>
                        <option>Argentina</option>
                        <option>Bolivia</option>
                        <option>Brasil</option>
                        <option>Chile</option>
                        <option>Uruguay</option>
                        <option>...</option>
                    </select>
                </div>
                <div class="col-md-2">
                    <label for="inputZip" class="form-label">C.P.</label>
                    <input type="text" class="form-control" id="cp" name="cp">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label"></label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                        name="comentario">Comentario</textarea>
                </div>
                <p class="acciones"></p><input type="submit" value="Enviar" /></p>
            </div>
        </form>
        <p>{{message}}</p>
    </div>
</div>